!!! XML
!!!
%html{ :xmlns=>"http://www.w3.org/1999/xhtml", 'xml:lang'=>"en", :lang=>"en" }
  %head
    %title FallDetection
    %meta{"http-equiv"=>"Content-Type", :content=>"text/html;charset=utf-8"}
    = stylesheet_link_tag 'reset'
    = stylesheet_link_tag 'common'
    = stylesheet_link_tag 'screen'
    = render :partial => "layouts/local_styles"
    = javascript_include_tag :defaults
    /[if lt IE 7]
      %script{:defer=>"defer", :type=>"text/javascript", :src=>"/javascripts/pngfix.js"}
    %link{:rel=>"Shortcut Icon", :href=>"/favicon.ico"}
    %body  
      #content
        - if flash[:message]
          #flash.notice.flash= flash[:message]
        - if flash[:success]
          #flash.success= flash[:success]
        - if flash[:error]
          #flash.error= flash[:error]
        
        #crumbs
          %ul
            %li.crumb
              = link_to "FallDetection", 
                        falls_path,
                        :class => "crumb not_last uber",
                        :title => "FallDetection"

        = yield
